ruby:
  def a_unless_current
    @page_current ? {tag: 'span'} : {tag: 'a', href: 'http://slim-lang.com/'}
  end
- @page_current = true
*a_unless_current GGwp
- @page_current = false
*a_unless_current GGwp


label.btn.btn-default.btn-off-3.btn-sm hello

div.sex.d-none.d-sm-none.d-md-none.d-lg-none.d-xl-table-cell 性別

label#ggwp[for] あなたがよく知っていることや興味があることを3つまで選んでください


br
&text name="user"
br
&password name="pw"
br
&submit